/* Evita el scroll en la página */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.appcontainer {
  width: 100vw; /* El ancho de la imagen ocupará todo el ancho del viewport */
  height: 100vh; /* Opcional: si quieres que ocupe todo el alto también */
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  position: relative;
  overflow: hidden;
  background-color: #86B6ED;
}

.background {
  width: 100vw; /* Hace que la imagen ocupe todo el ancho del viewport */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: cover; /* Ajusta la imagen para que cubra todo el contenedor */
  position: absolute;
  top: -100vh; /* Comienza por encima del viewport */
  left: 0;

  /* Añadimos la animación */
  animation: slideDown 2s ease-in-out 2s forwards; /* Duración de 2s, delay de 2s */
}

@keyframes slideDown {
  from {
    top: -100vh; /* Comienza por encima del viewport */
  }
  to {
    top: 0; /* Baja hasta que toda la imagen sea visible */
  }
}


.rocketandballs {
  position: absolute;
  bottom: 2em; /* El cohete casi al borde inferior */
  right: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rocket {
  position: relative;
  height: 17em;
  animation: shake 0.1s infinite, rocketLaunch 2s ease-in 3s forwards;
}

.balls {
  position: absolute;
  bottom: -100%; /* Asegúrate de que estén en la parte inferior del cohete */
  display: flex;
  justify-content: center; /* Centra las bolas horizontalmente */
  width: 100%; /* Ocupa todo el ancho del contenedor */
}

.ball {
  position: relative;
  width: 400px; /* Tamaño inicial */
  height: 400px; /* Tamaño inicial */
  margin: 0 5px; /* Espacio entre bolas */
  animation: puff 1s ease-in-out forwards; /* Animación para crecer y moverse */
}

.ball img {
  width: 100%;
  height: auto;
}

@keyframes puff {
  0% {
    transform: scale(1) translateY(0); /* Tamaño inicial */
    opacity: 1; /* Opacidad inicial */
  }

  100% {
    transform: scale(3) translateY(400px); /* Se disuelve y se va hacia arriba */
    opacity: 0; /* Se vuelve invisible */
  }
}



/* Animación de temblor del cohete */
@keyframes shake {
  0%, 100% { transform: translate(0, 0); }
  25% { transform: translate(-2px, 2px); }
  50% { transform: translate(2px, -2px); }
  75% { transform: translate(-2px, -2px); }
}

/* Animación de despegue del cohete */
@keyframes rocketLaunch {
  0% { bottom: 2em; }
  100% { bottom: 120vh; } /* El cohete sale completamente de la pantalla por arriba */
}
