.megacontainer {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.ControlPannel {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 6000;
  object-fit: cover; /* Asegura que la imagen de fondo cubra todo sin deformarse */
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Ajusta este valor según lo que necesites */
  }
  100% {
    transform: translateY(0);
  }
}
.sky {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  object-fit: cover; /* Mantiene la proporción */
}
.mars {
  position: absolute;
  top: 15%; /* Ajusta la posición según lo necesites */
  left: 9%; /* Ajusta la posición según lo necesites */
  z-index: 4000;
  width: 20vw; /* Ajusta el tamaño del planeta */
  height: auto; /* Mantiene la proporción */
  scale: 1.7;
  animation: move-right 60s linear infinite; /* Animación de movimiento horizontal */
}
.orangeplanet {
  position: absolute;
  top: 45%; /* Ajusta la posición según lo necesites */
  left: 45%; /* Ajusta la posición según lo necesites */
  z-index: 5000;
  width: 15vw; /* Ajusta el tamaño del planeta */
  height: auto; /* Mantiene la proporción */
  scale: 7.0;
  animation: move-right 60s linear infinite; /* Animación de movimiento horizontal */
}
@keyframes move-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10vw); /* Mueve el planeta hacia la izquierda */
  }
  100% {
    transform: translateX(100vw); /* Mueve el planeta hacia la derecha */
  }
}
.astronaut2 {
  position: absolute;
  top: 25%; /* Ajusta la posición según lo necesites */
  left: 42%; /* Ajusta la posición según lo necesites */
  z-index: 5999;
  width: 20vw; /* Ajusta el tamaño del planeta */
  height: auto; /* Mantiene la proporción */
  scale: 1.9;
  animation: float 6s ease-in-out infinite; /* Aplica solo la animación de flotación */
}