@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');

body {
  margin: 0;
  height: 100%; 
}

.the-romans-page {
  display: flex;
  flex-direction: column;
  align-items: center;  
  background-image: url('../../public/main-space.png'); /* Path to the image */
  background-size: cover; /* Ensure the image covers the entire element */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  color: #FFFFFF;
  font-family: "Exo", sans-serif;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;

}

.the-romans-page .back-symbol {
  position: absolute;
  top: px;
  left: 20px;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  z-index: 10;
}

video {
  height: auto;
  border-radius: 20px;
}

p {
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 80%;
  text-align: center;
  font-family: "Exo", sans-serif;
  letter-spacing: 0.28px;
}

h1 {
  font-weight: black;
  font-size: 2.5rem;
  font-family: "Orbitron", sans-serif;
  text-align: center;
  padding-top: 1em;
}

 .input-container, .button-container {
  width: 100%; /* Ensure the elements take up the full width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  text-align: center;
}
.video-container {
  padding-bottom: 0.5rem;
}

.input-container {
  text-align: center;
  display: block;
  width: 100%; /* Make the container take up the full width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  padding-bottom: 0.8rem;
}

.inputButton {
  text-align: center;
  font-size: 1rem;
  font-family: "Exo", sans-serif ;
  position: relative;
  width: 70%;
  padding: 1em 0.8em 1em;
  background: #1D1E30;
  border: 5px solid #A291D5;
  border-radius: 50px;
  outline: none;
  color: #7D91B4;
  font-size: 1.2em;
  box-shadow: none;
  background: #EEEAFF;
color: #2F4090;
padding: 0.8em 0.8em 0.8e
}

.submitButton {
  margin: 0; 
  padding: 0;
  color: #FFFFFF;
  text-align: center;
  background-color: #3B4898;
  border-radius: 3rem;
  padding: 1rem;
  font-family: "Exo", sans-serif;
  left: 0.1rem;
  top: 0.01rem;
  font-size: 18px;

  
}

.planetImage {
  transform: rotate(35deg);
  position: absolute; /* Position the image absolutely */
  left: -150px; /* Move the image 50px to the left of the viewport */
  bottom: -70px; /* Move the image 50px below the viewport */
}

