body {
  width: 100%; /* Ensure the element takes the full width */
  height: 100%; /* Ensure the element takes the full height of the viewport */    
  background-image: url('../../public/romansbackground.png'); /* Path to the image */
  background-size: cover; /* Ensure the image covers the entire element */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  color: #FFFFFF;
  font-family: "Exo", sans-serif;
}

.the-romans-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  
}

video {
  height: 420px;
}

h1 {
  padding-top: 2em;
  font-weight: black;
  font-family: "Orbitron", sans-serif
}

h1, p, .video-container, .input-container, .button-container {
  padding: 1em;
  width: 100%; /* Ensure the elements take up the full width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.input-container {
  text-align: center;
  display: block;
  width: 100%; /* Make the container take up the full width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.submitButton {
  margin: 0; 
  padding: 0;
  color: #FFFFFF;
  text-align: center;
  background-color: #3B4898;
  border-radius: 3rem;
  padding: 0.8rem;
  
}

.planetImage {
  transform: rotate(35deg);
  position: absolute; /* Position the image absolutely */
  left: -50px; /* Move the image 50px to the left of the viewport */
  bottom: -100px; /* Move the image 50px below the viewport */
}